body{
    font-family: "Permanent Marker", cursive;
    background-image: url('../img/desk.webp');
    background-position: center;
    background-size: cover;
}

/* ---------------------------------- book ---------------------------------- */
.book {
    border-radius: 3px 20px 20px 3px;
    box-shadow: -6px 0px 8px 1px #0005;
}
.book img{
    filter: hue-rotate(90deg);
}
.book .row{
    z-index: 1;
    margin-left: 0 !important;
}

.tag {
    margin-top: 4rem !important;
    background-color: #fffcf4;
    border-radius: 15px;
}
.tag-border {
    border: 5px solid #800;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.line {
    border-bottom: 2px solid #0005;
}
.title {
    font-family: monospace;
    color: #5656ff;
    font-size: 0.65rem;
}
.value {
    font-size: 2rem;
}
.line .value{
    height: 2rem;
    margin-bottom: -5px !important;
}

/* ---------------------------------- ids ---------------------------------- */
#result {
    /* font-family: "Caveat", cursive; */
    font-family: 'Reenie Beanie', cursive;
    bottom: 45px;
    right: 20px;
    transform: rotate(-15deg);
    color: #2e2ed5;
    font-weight: 100;
    z-index: 1;
}

/* ---------------------------------- my-classes ---------------------------------- */
.my-container{
    max-width: 1200px;
}
.my-row{
    height: 100vh;
}

.my-p-1 {
    padding: 0.5rem;
}
.my-p-3 {
    padding: 1.5rem;
}
.my-rotation-1{
    transform: rotate(2.5deg);   
}
.my-rotation-2{
    transform: rotate(3.2deg);   
}
.my-neg-rotation-1{
    transform: rotate(-2.5deg);   
}